arboreto~=0.1
anndata~=0.12
cmaes~=0.12  # dependency of autosampler
igraph~=0.11  # dependency of louvain and umap
louvain~=0.8 
matplotlib~=3.10
numpy~=2.3
optuna~=4.6
optuna-dashboard~=0.20
optunahub~=0.4
pandas~=2.3
psycopg2-binary~=2.9
rich~=14.2
rich-click~=1.9
rustscenic~=0.5
scanpy~=1.11
scikit-learn~=1.7
scipy~=1.16
seaborn~=0.13
setuptools<82  # for compatibility with tensorboard
tensorboard~=2.20
tqdm~=4.67
umap-learn~=0.5
